/*每个li*/
ul li {
    width: 280px;
    height: 50px;
    margin: 5px auto;
    background-color: #FFFFFF;
    border-radius: 5px;  
}

/*头像、一言*/
#author{
    height: 180px;
    background-color: blue;
    text-align: center;
}
#author_image{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px 0px 20px 0px;
    background-color:0; 
}
#author_image img {
    height: 100%;
    border-radius: 50px;
}
#author .yiyan {
    color: aqua;
     
}
/*网盘站点,图标32px、*/
.drive {
    height: 32px;
    border-radius: 16px;
    margin-top: 8px;
    margin-left: 10px;
}
#drive span {
    display: inline-block;
    height: 50px;
    width: 80px;
    text-align: center;
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 50px;
    vertical-align: top;
}

/*网易云音乐外链及过渡效果*/
#music {
    width: 280px;
    height: 100px;
    overflow: hidden;
    transform: height 4s;
}
#music:hover {
   height: 280px;
}