/*
    1. 清除浏览器默认样式
    2. 设置字体大小和字体
    3. 清除链接
*/
* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 62.5%;/*字体标准1em = 16px , 当前1em = 10px*/
    font-family: "Helvetica Neue", Tahoma, Arial, STXHeiti, "华文细黑", "Microsoft Yahei", "微软雅黑", sans-serif;/*指定字体，先英后中, mac win 默认*/

}

/*清除ul的图标类型*/
.c_ul {
    list-style-type: none;
    text-decoration: none;
}

/*未访问过的链接*/
a:link {
    text-decoration: none;
}

/*已访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标移动到链接上*/
a:hover {
    text-decoration: none;
}

/*鼠标点击时*/
a:active {
    text-decoration: none;
}

/*文字水平居中*/
.text {
    text-align: center;
}

/*文字垂直居中
  line-height：盒子高度/行数
*/

/*半透明效果*/