*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#E8E8E8;
}
/*大盒子*/
div.box{
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 10px;
    background-color:white;
    padding: 5px;
}
#info {
    text-align: center;
}

/*h3 and hr*/
h3{
    margin-left: 10px;
}
hr{
    height: 1px;
    margin-left: 10px;
    background-color: black;
}

/*小盒子-存放图片*/
.img-box{
    width: 1150px;
    margin: 5px auto; 
    border-radius: 4px;
    background-color:white;
}

/*单独图片的布局，超过盒子的宽度会自动换行*/
#i img{
    width: 200px;
    margin-left: 25px; 
}

#h img{
    width: 200px;
    margin-left: 25px;
}
#v img{
    width: 200px;
    margin-left: 25px;
}